.main {
    position: absolute;
    width: 1280px;
    height: 816px;
    top: 3900px;

    background: #191514;
}

.gifbox {
    position: absolute;
    width: 115px;
    height: 115px;
    left: 748px;
    top: 20px;

}


.title {
    position: absolute;
    width: 517px;
    height: 64px;
    left: 790px;
    top: 27px;
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 64px;
    display: flex;
    align-items: center;
    color: #FFFFFF;

}


